<div id='clienteListView' class="row">
	<div class="col-12">
		<button class='btn btn-primary' id='btNuevoCliente' style="margin: 1rem 0">Nuevo Cliente</button>
		<table class='table'>
			<thead class='thead-dark'>
				<tr>
					<th>Nombres</th>
					<th>Ciudad</th>
					<th>Sexo</th>
					<th>Teléfono</th>
					<th>Fecha nacimiento</th>
					<th>Controles</th>
				</tr>
			</thead>
			<tbody>
				{{#each clientes}}
					<tr data-id='{{id}}'>
						<td>{{nombres}}</td>
						<td>{{ciudad}}</td>
						<td>{{sexo}}</td>
						<td>{{telefono}}</td>
						<td>{{fechaNacimiento}}</td>
						<td><i class='fas fa-edit'></i>&nbsp;&nbsp;<i class='fas fa-trash-alt'></i></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>