<div id='clienteListView' class="row">
	<div class="col-12">
		<button class='btn btn-primary' id='btNuevoCliente' style="margin: 1rem 0">Nuevo Cliente</button>
		<table class='table'>
			<thead class='thead-dark'>
				<tr>
					<th>Nombres</th>
					<th>Ciudad</th>
					<th>Sexo</th>
					<th>Teléfono</th>
					<th>Fecha de nacimiento</th>
					<th>Dirección</th>
					<th>Provincia</th>
					<th>Fecha de alta</th>
					<th>Controles</th>
				</tr>
			</thead>
			<tbody>
				{{#each clientes}}
					<tr data-id='{{id}}'>
						<td>{{nombres}}</td>
						<td>{{ciudad}}</td>
						<td>{{sexo}}</td>
						<td>{{telefono}}</td>
						<td>{{transformarFecha fecha_nacimiento}}</td>
						<td>{{direccion}}</td>
						<td>{{provincia}}</td>
						<td>{{transformarFecha fecha_alta}}</td>
						<td>
							<button id='btModificarCliente'>
								<i class='fas fa-edit'></i>
							</button>
							<button id='btEliminarCliente'>
								<i class='fas fa-trash-alt'></i>
							</button>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<!-- Paginación -->
		<nav aria-label='Paginación clientes'>
			<ul class="pagination">
				<!-- btAnterior -->
				<li class="page-item {{#if anteriorDesactivado}}disabled{{/if}}">
					{{#if anteriorDesactivado}}
						<span class="page-link">Anterior</span>
					{{else}}
						<a href="" class="page-link btPagina" data-pagina='anterior'>Anterior</a>
					{{/if}}
				</li>
				<!-- Enlaces -->
				{{#each paginas}}
					<li class="page-item {{#if actual}}active{{/if}}">
						{{#if actual}}
							<span class="page-link">{{pagina}}</span>
						{{else}}
							<a href="" class="page-link btPagina" data-pagina='{{pagina}}'>{{pagina}}</a>
						{{/if}}
					</li>
				{{/each}}
				<!-- btSiguiente -->
				<li class="page-item {{#if siguienteDesactivado}}disabled{{/if}}">
					{{#if siguienteDesactivado}}
						<span class="page-link">Siguiente</span>
					{{else}}
						<a href="" class="page-link btPagina" data-pagina='siguiente'>Siguiente</a>
					{{/if}}
				</li>
			</ul>			
		</nav>
	</div>
</div>