<div id='clienteListView' class="row">
	<div class="col-12">
		<button class='btn btn-primary' id='btNuevoCliente' style="margin: 1rem 0">Nuevo Cliente</button>
		<table class='table'>
			<thead class='thead-dark'>
				<tr>
					<th>Nombres</th>
					<th>Ciudad</th>
					<th>Sexo</th>
					<th>Teléfono</th>
					<th>Fecha de nacimiento</th>
					<th>Dirección</th>
					<th>Provincia</th>
					<th>Fecha de alta</th>
					<th>Controles</th>
				</tr>
			</thead>
			<tbody>
				{{#each clientes}}
					<tr data-id='{{id}}'>
						<td>{{nombres}}</td>
						<td>{{ciudad}}</td>
						<td>{{sexo}}</td>
						<td>{{telefono}}</td>
						<td>{{transformarFecha fecha_nacimiento}}</td>
						<td>{{direccion}}</td>
						<td>{{provincia}}</td>
						<td>{{transformarFecha fecha_alta}}</td>
						<td>
							<button id='btModificarCliente'>
								<i class='fas fa-edit'></i>
							</button>
							<button id='btEliminarCliente'>
								<i class='fas fa-trash-alt'></i>
							</button>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>